@font-face {
  font-family: 'scoreboard';
  src: local('scoreboard'), url(./fonts/scoreboard.ttf) format('truetype');
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
}

.scoreboard-bg {
  width: 1000px;
  height: 700px;
  background-color: #303030;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.timer {
  background-color: #000000;
  width: 250px;
  height: 100px;
  border-radius: 15px;
}
.home-visitor-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
.home,
.visitor, .timer {
  background-color: #000000;
  width: 250px;
  height: 100px;
  border-radius: 15px;
  font-family: 'scoreboard';
  color: palegoldenrod;
  text-align: center;
  font-size: 5rem;
}
.text{
  color: #ffffff;
  font-size: 5rem;
  text-align: center;
}
.reset{
  background-color: chartreuse;
  font-size: 2rem;
}
.minus,
.plus{
  color: #ffffff;
  font-size: 3rem;
  font-weight: 800;
  display: inline;
  margin: 1rem;
}